body{
    
    margin: 0;
    padding: 0;
}
.logo {
   display: flex ;
   margin-left: 450px;
}
.menu ul {
    text-decoration: none ;
    display: flex;
    justify-content: space-between;
}

.menu-text li:hover{
    transition: 0.5s all;
    background-color:rgb(212, 140, 7);
}

li{
    list-style-type: none;
    background-color: orange;
    padding: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a{
    text-decoration: none;
    color:black;
}
.container {
    width: 1400px;
    margin: 0 auto;
    max-width: 100%;
    background:white; 
}   

.strokaokon{
    font-family: "Roboto";
    margin-top: 30px;
    text-decoration: none ;
    display: flex;
    justify-content: center;
    list-style-type: none;
    background-color: orange;
}

.okna{
    margin-top: 30px;
    height: 300px;
    display: flex;

}
.text-okna{
    display: flex;
    justify-content: space-between;  
}

.text-dveri{
    display: flex;
    justify-content: space-between;
}

.strokaokon{
    font-family: "Roboto";
    text-decoration: none ;
    display: flex;
    justify-content: center;
    list-style-type: none;
    background-color: orange;
}

.dveri{
    margin-top: 30px;
    height: 300px;
    width: 360px;
    display: flex;

}


.text-dveri{
    display: flex;
    justify-content: space-between;
}



.okna-item{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.dveri-item{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

button{
    width: 360px;
    height: 30px;
    margin-top: 30px;
    background: #FF8A00;
    border-radius: 312px;   
    cursor: pointer;
}

button:hover{
    transition: 0.5s all;
    background: #c56b04;
}


.modal,.modal-2,.modal-3,.modal-4,.modal-5,.modal-6{
    position:fixed;
    top:0;
    right:0;
    bottom:0;
    left:0;
    z-index:1000;
    background: rgba(0,0,0,0.9);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    overflow-y:scroll;
    padding-top:100px;
    padding-left:150px;
    display: none;
    
}

.modal-show{
    width: 90%;
    height: 710px;
    background: #f9f9f9;
    border-radius: 3px;
    position: relative;
    box-shadow: 0 5px 15px black;
    display: flex;
}

.modal-show img{
    width:500px;
    margin-left:30px;
}

.okno-tekst{
    padding-top: 60px;
}

.tekst-header{
    font-size: 35px;
}

.tekst__price{
    font-size: 24px;
    color:rgb(22, 153, 22);
}

.buy{
    width: 150px;
    height: 45px;
    background: #1959d1;
    border-radius: 312px; 
    color:white;  
    font-size: 18px;
    margin-top: 2rem;
    cursor:pointer;
}

.buy:hover{
    transition: 0.5s all;
    background-color: #134197;
}

.okno-tekst{
    font-size: 20px;
}

.crestik,.crestik2,.crestik3,.crestik4,.crestik5,.crestik6{
    font-size: 30px;
    position: absolute;
    top:5px;
    left:15px;
    cursor: pointer;
}